<div class="w-1/4 h-full bg-gray-100 shadow-lg relative z-10 overflow-y-scroll border-l-2 border-gray-100 {{hidden}}">
  <div class="flex w-full shadow">
    <button class="w-1/2 bg-white text-grey-darker text-lg shadow" {{on "click" @toggleSidebar}}>Design</button>
    <button class="w-1/2 bg-purple-500 text-white font-semibold py-3 text-xl">Receipt Details</button>
  </div>
  <form>
    {{!-- Thank you letter --}}
    <div class="bg-white">
      <div class="flex py-2 px-8 mx-4">
        <h3 class="w-1/2 my-8 text-grey-darker text-xl font-bold">Thank you letter</h3>
        <div class="w-1/2 my-8">
          {{#if contentComplete}}
          <span
            class="rounded-full inline-block h-5 w-5 items-center mx-2 mr-4 relative bg-purple text-white text-center flex justify-center float-right"><img
              src="/img/icons/ConfirmWhite.svg" class="w-3 self-center"></span>
          {{else}}
          <span
            class="rounded-full inline-block h-5 w-5 items-center mx-2 mr-4 relative bg-white text-white text-center flex justify-center float-right border-2 border-purple"><img
              src="/img/icons/ConfirmPurple.svg" class="w-3 self-center"></span>
          {{/if}}
        </div>
      </div>
      <div class="flex items-center justify-center pb-8">
        <div class="w-3/4 flex justify-around">
          <div class="w-full">
            <p class="text-grey mb-2">Message</p>
            <input type="text" value={{@template.name}}
              class="w-full border border-grey py-2 px-4 text-grey-dark rounded-lg flex font-semibold mt-4"
              placeholder="Help us find a new home!">
          </div>
        </div>
      </div>

      <div class="flex items-center justify-center pb-8">
        <div class="w-3/4 flex justify-around">
          <div class="w-full">
            <p class="text-grey mb-2"></p>
            <div id="description" {{did-insert (action this.initPell)}}
              class="border border-grey-500 rounded-lg text-grey-dark">
            </div>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-center pb-8">
        <div class="w-3/4 flex justify-around">
          <div class="w-full">
            <p class="text-grey mb-2">Signature Footer</p>
            <input type="text" value={{@template.signatureFooter}}
              class="w-full border border-grey py-2 px-4 text-grey-dark rounded-lg flex font-semibold mt-4"
              placeholder="Add a signature footer here">
          </div>
        </div>
      </div>
    </div>

    <div class="bg-grey-100">
      <div class="flex py-8 px-8 mx-4">
        <h3 class="w-1/2 my-8 text-grey-darker text-xl font-bold">Signature</h3>
        <div class="w-1/2 my-8">
          {{#if photosComplete}}
          <span
            class="rounded-full inline-block h-5 w-5 items-center mx-2 mr-4 relative bg-purple text-white text-center flex justify-center float-right"><img
              src="/img/icons/ConfirmWhite.svg" class="w-3 self-center"></span>
          {{else}}
          <span
            class="rounded-full inline-block h-5 w-5 items-center mx-2 mr-4 relative bg-white text-white text-center flex justify-center float-right border-2 border-purple"><img
              src="/img/icons/ConfirmPurple.svg" class="w-3 self-center"></span>
          {{/if}}
        </div>
      </div>
      <div class="flex items-center justify-center mb-12">
        <div class="w-3/4 flex justify-left -ml-8">
          <div class="w-full">
            <Receipt::SignatureUploader />
          </div>
        </div>
      </div>
    </div>

    <div class="flex items-center justify-center">
      <div class="w-3/4 flex justify-around">
        <div class="w-full">
          <p class="text-grey mb-2">Library</p>
        </div>
      </div>
    </div>

    <Receipt::SignatureViewer @value={{@template.signature}} />

  </form>



  {{!-- <div class="flex items-center justify-center mt-4 relative">
    <div class="w-3/4 flex justify-around">
      <div class="w-full h-12">
      </div>
    </div>
  </div> --}}
</div>