<div class="flex items-center justify-center">
  <div class="w-3/4 flex justify-around">
    <img class="h-24 opacity-40 {{if (eq value "golden") "opacity-100"}}" src="/img/Colours-Golden.png" />
    <img class="h-24 opacity-40 {{if (eq value "ultra violet") "opacity-100"}}" src="/img/Colours-Ultra_Violet.png" />
    <img class="h-24 opacity-40 {{if (eq value "red") "opacity-100"}}" src="/img/Colours-Red.png" />
  </div>
</div>

<div class="flex items-center justify-center pb-8">
  <div class="w-3/4 flex justify-around">
    <img class="h-24 opacity-40 {{if (eq value "forest") "opacity-100"}}" src="/img/Colours-Forest.png" />
    <img class="h-24 opacity-40 {{if (eq value "tangerine") "opacity-100"}}" src="/img/Colours-Tangerine.png" />
    <img class="h-24 opacity-40 {{if (eq value "navy blue") "opacity-100"}}" src="/img/Colours-Navy_Blue.png" />
  </div>
</div>