<div class="h-screen flex overflow-hidden bg-gray-100">
  <div class="flex">
    {{#if this.showMenu}}
    <AnimatedContainer class="bg-white flex-shrink-0 flex overflow-hidden">
      {{#animated-if this.opened use=this.transition duration=300}}
      <div class="flex flex-col">

        <div class="flex items-center h-16 flex-shrink-0 px-6  justify-between">
          {{svg-jar "Davos_logo_fullcolour" class="w-32 mr-12"}}
          <button type="button" {{on "click" this.shrinkMenu}}>
            <svg class="h-6 w-6 cursor-pointer" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
            </svg>
          </button>

        </div>
        <div class="h-0 flex-1 flex flex-col overflow-y-auto">
          <nav class="flex-1 px-4 py-4 bg-white text-gray-500">
            <LinkTo @route='authenticated.campaigns'
              class="group flex items-center px-2 py-3 text-sm leading-5 font-medium rounded-md focus:outline-none transition ease-in-out duration-150 text-gray-500 hover:text-purple-600 text-semibold">
              {{svg-jar "Home" class="w-4 fill-current mr-3"}}
              Receipt Centre
            </LinkTo>
            <LinkTo @route='authenticated.donations'
              class="group flex items-center px-2 py-3 text-sm leading-5 font-medium rounded-md focus:outline-none transition ease-in-out duration-150 text-gray-500 hover:text-purple-600 text-semibold">
              {{svg-jar "Receipts" class="w-4 fill-current mr-3"}}
              Donations
            </LinkTo>
            <LinkTo @route='authenticated.account'
              class="group flex items-center px-2 py-3 text-sm leading-5 font-medium rounded-md focus:outline-none transition ease-in-out duration-150 text-gray-500 hover:text-purple-600 text-semibold">
              {{svg-jar "Account" class="w-4 fill-current mr-3"}}
              Account
            </LinkTo>
          </nav>
        </div>
      </div>
      {{else}}
      <div class="flex flex-col bg-white">
        <div class="flex flex-col items-center h-16 flex-shrink-0 px-3 bg-white justify-between pt-4 text-purple-900">
          {{svg-jar "Davos_icon" class="w-10 fill-current"}}
          <svg class="h-6 w-6 cursor-pointer" stroke="currentColor" fill="none" viewBox="0 0 24 24">
          </svg>
        </div>
        <div class="h-0 flex-1 flex flex-col overflow-y-auto">
          <nav class="flex-1 px-4 py-4 bg-white">
            <LinkTo @route='authenticated.campaigns'
              class="group flex items-center px-2 py-3 text-sm leading-5 font-medium rounded-md focus:outline-none transition ease-in-out duration-150 text-gray-500 hover:text-purple-600 text-semibold bg-white">
              {{svg-jar "Home" class="w-4 fill-current"}}
            </LinkTo>
            <LinkTo @route='authenticated.donations'
              class="group flex items-center px-2 py-3 text-sm leading-5 font-medium rounded-md focus:outline-none transition ease-in-out duration-150 text-gray-500 hover:text-purple-600 text-semibold">
              {{svg-jar "Receipts" class="w-4 fill-current"}}
            </LinkTo>
            <LinkTo @route='authenticated.account'
              class="group flex items-center px-2 py-3 text-sm leading-5 font-medium rounded-md focus:outline-none transition ease-in-out duration-150 text-gray-500 hover:text-purple-600 text-semibold">
              {{svg-jar "Account" class="w-4 fill-current"}}
            </LinkTo>
          </nav>
          <div class="bg-white flex justify-center pb-4">
            <button type="button" {{on "click" this.growMenu}}>
              <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
              </svg>
            </button>
          </div>
        </div>
      </div>
      {{/animated-if}}
    </AnimatedContainer>
    {{/if}}
  </div>
  <div class="flex flex-col w-0 flex-1 overflow-scroll">
    {{outlet}}
  </div>
</div>

{{notification-container position="top-right" zindex="9999"}}